.my-element {
    width: 300px;
    height: 350px;
    background-image: url('https://i.postimg.cc/pXWqKyN9/Picsart-24-08-21-09-17-19-850.png');
    background-size: cover;
    background-position: center;
}
